<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>لیست بسته ها</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <a th:href="@{'/plans/add'}" class="btn btn-primary">افزودن بسته</a>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">عنوان</th>
            <th scope="col">چند گیگ؟</th>
            <th scope="col">چند ماهه؟</th>
            <th scope="col">چه قیمت؟</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plan: ${plans}">
            <td th:text="${plan.title}"></td>
            <td th:text="${plan.trafficLimit}"></td>
            <td th:text="${plan.months}"></td>
            <td th:text="${plan.price}"></td>
            <td><a class="btn btn-default" th:href="@{'/plans/' + ${plan.planId} }" >ویرایش</a></td>
            <td><a class="btn btn-danger" th:href="@{'/plans/' + ${plan.planId} + '/delete' }" onclick="return confirm('آیا از حذف این بسته مطمئن هستید؟')">حذف</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
