<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ویرایش بسته</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">

    <form th:object="${plan}" method="post" th:action="@{/plans/save}">
        <div class="form-group row">
            <label for="" class="col-4 col-form-label">تعداد ماه</label>
            <div class="col-8">
                <select th:field="*{months}" class="custom-select" required="required">
                    <option value="1">۱ ماهه</option>
                    <option value="2">۲ ماهه</option>
                    <option value="3">۳ ماهه</option>
                    <option value="4">۴ ماهه</option>
                    <option value="5">۵ ماهه</option>
                    <option value="6">۶ ماهه</option>
                    <option value="12">۱۲ ماهه( یک ساله)</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-4 col-form-label">ترافیک مجاز</label>
            <div class="col-8">
                <input th:field="*{trafficLimit}" placeholder="۱۰۰" type="text" class="form-control" aria-describedby="textHelpBlock">
                <span id="textHelpBlock" class="form-text text-muted">به گیگابایت</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">کانکشن همزمان</label>
            <div class="col-8">
                <input th:field="*{connectionLimit}" placeholder="۳" type="text" class="form-control" aria-describedby="text1HelpBlock">
                <span id="text1HelpBlock" class="form-text text-muted">عدد ۰ به معنای عدم محدودیت</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="text2" class="col-4 col-form-label">مبلغ (تومان)</label>
            <div class="col-8">
                <input th:field="*{price}" placeholder="۱۲۰۰۰۰" type="text" class="form-control">
            </div>
        </div>
        <input type="hidden" th:field="*{planId}" />
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">ذخیره</button>
                <a th:href="@{/plans}" class="btn btn-default">انصراف</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>